<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 在本配置文件中包含hibernate.cfg.xml中的相关信息 -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 配置c3p0连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<!-- 根据连接池和hibernate相关配置得到sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
			</props>
		</property>
		<!-- 加载hibernate映射文件 -->
		<property name="mappingResources">
			<list>
				<value>com/wzf/user/User.hbm.xml</value>
				<value>com/wzf/category/Category.hbm.xml</value>
				<value>com/wzf/product/Product.hbm.xml</value>
				<value>com/wzf/categorysecond/CategorySecond.hbm.xml</value>
			</list>
		</property>
<!-- 		<property name="mappingDirectoryLocations"> -->
<!-- 			<list> -->
<!-- 				<value>classpath:com/wzf/entity</value> -->
<!-- 			</list> -->
<!-- 		</property> -->
	</bean>
	
	<!-- 注册Action -->
	<bean id="indexAction" class="com.wzf.index.IndexAction" scope="prototype">
		<property name="categoryService" ref="categoryService"></property>
		<property name="productService" ref="productService"></property>
	</bean>
	<bean id="userAction" class="com.wzf.user.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="checkImgAction" class="com.wzf.user.CheckImgAction"></bean>
	<bean id="productAction" class="com.wzf.product.ProductAction">
		<property name="productService" ref="productService"></property>
		<property name="categoryService" ref="categoryService"></property>
	</bean>
	
	<!-- 注册Service -->
	<bean id="userService" class="com.wzf.user.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="categoryService" class="com.wzf.category.CategoryService">
		<property name="categoryDao" ref="categoryDao"></property>
	</bean>
	<bean id="productService" class="com.wzf.product.ProductService">
		<property name="productDao" ref="productDao"></property>
	</bean>
	
	<!-- 注册Dao -->
	<bean id="userDao" class="com.wzf.user.UserDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="categoryDao" class="com.wzf.category.CategoryDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="productDao" class="com.wzf.product.ProductDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
